<h3 class="titulo">Bienvenido a Nuestra Experiencia Gastronomica</h3>

<mat-grid-list cols="3" rowHeight="1:1">

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hotel </mat-card-title>
        <mat-card-subtitle>ceviche</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://th.bing.com/th/id/R.a4a3b859362c56c82fe919c467f3a74c?rik=TXwpbcr%2bjfOtKQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-7jsgyICKdAw%2fVVmAx2kBw0I%2fAAAAAAAAI-0%2fVNNxb9FB6UU%2fs1600%2fceviche.jpg&ehk=v37l5bu8Z7NQUfjzoeHfPVPfK%2bD3LZCXMFWKhl6w1n0%3d&risl=&pid=ImgRaw&r=0"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          El ceviche es un plato fresco a base de mariscos, pescado, crustáceos, siempre que se sirvan con una salsa ligera y limón.
          Esta original receta lleva años conquistando al mundo gracias a su frescura y sus excelentes valores nutricionales.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hotel </mat-card-title>
        <mat-card-subtitle>Papa a la Huancaina</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://th.bing.com/th/id/OIP.UBFokFdebPNS3HOWqd-9kwHaFj?pid=ImgDet&rs=1" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Uno de los platos más importantes de la gastronomía del Perú y que no debes dejar de probar es la Papa a la huancaína.
          Reconocido por su especial sabor picante, es uno de los más consumidos y preferidos por todos los peruanos.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hotel </mat-card-title>
        <mat-card-subtitle>Lomo Saltado </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://th.bing.com/th/id/OIP.R4FFTK23NQAAHFL_VBbGJgHaFj?pid=ImgDet&rs=1"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Trozos de lomo de carne, tomate y cebolla, servidos junto a crocantes papas fritas y graneado arroz que
          dan vida a uno de los potajes más representativos de la gastronomía peruana que ha conquistado
          millones de paladares en el mundo.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

