
<section id="contactame" class="contact-ito">
  <div class="Contacto-Form">
      <div class="sub-contact">
          <form class="formular" action="https://formsubmit.co/oliveriman255@gmail.com" method="POST">
              <input type="hidden" name="_captcha" value="false">
              <input type="hidden" name="_subject" value="New email Portafolio!">
              <h3 class="titulo">Contactanos!</h3>
              <div class="nameform">
                  <p>
                      <label class="pregunt">Nombre Completo</label>
                      <input type="text" name="Nombres" placeholder="Nombres" required>
                  </p>
              </div>

              <div class="correoform">
                  <p>
                      <label class="pregunt">Dirección de correo electrónico</label>
                      <input type="email" name="email" placeholder="E-mail" required>
                  </p>
              </div>

              <div class="Eltelef">
                  <p>
                      <label class="pregunt">Número de teléfono</label>
                      <input type="tel" name="Telefono" placeholder="Telefono" required>
                  </p>
              </div>

              <div>
                  <p class="block">
                      <label class="pregunt">Mensaje</label>
                      <textarea class="messageform" name="Mensaje/Asunto" rows="3" placeholder="Escribe aqui "
                          required></textarea>
                  </p>
              </div>

              <div class="envioform">
                  <p class="block">
                      <button type="submit" class="btnenvio">ENVIAR
                      </button>
                  </p>
              </div>
          </form>
      </div>
  </div>
</section>
