<!--<app-navbar></app-navbar>
<router-outlet>
</router-outlet>

<h3 class="titulo">Bienvenido a habitaciones </h3>

<mat-grid-list cols="1" rowHeight="1:1">

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hotel </mat-card-title>
        <mat-card-subtitle>Habitacion Sencilla</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://th.bing.com/th/id/R.4c2e57e48bc4bece8d0db679f88bc0aa?rik=vysZtwdbC4NOEQ&riu=http%3a%2f%2fvivirhogar.republica.com%2ffiles%2f2019%2f07%2forganiza-el-cuarto-de-tus-hijos-con-estos-5-consejos-efectivos.jpg&ehk=jGBr3v0MnYMkaKTynY2Z0ReJuTYGk1tyNqzcZSGXUsA%3d&risl=&pid=ImgRaw&r=0"
        alt="Photo of a Shiba Inu">
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

-->
