<h3 class="titulo">Bienvenidos a la seccion Restaurante!</h3>
<mat-grid-list cols="3" rowHeight="9:1">

  <mat-grid-tile>
    <h4>Seleccione su plato:</h4>
    <hr>
    <mat-form-field class="example-user-input">
      <mat-label>Platos</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile>
    <h4>Selecciones su Promocion: </h4>
    <hr>
    <mat-form-field>
      <mat-label>Platos</mat-label>
      <mat-select>
        <mat-option *ngFor="let persona of personas" [value]="persona.value">
          {{persona.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Enviar</button>
  </div>
</mat-grid-tile>
</mat-grid-list>
