.example-card {
  max-width: 300px;
  background: darkslateblue;
  padding-bottom: 10px;
}

.example-header-image {
  background-image: url('https://th.bing.com/th/id/OIP.vX0ME6Gu6q2yTkwrjo-C0QHaHb?pid=ImgDet&rs=1');
  background-size: cover;
}

.titulo{
  font-size: 35px;
  margin: 0px;
  font-family: sans-serif;
	padding-bottom: 25px;
  padding-top: 25px;
  max-inline-size: 500px;
	margin: auto;
}
